$body-main-bg: #ffffff;           
$body-text: #000000;         

$header-footer-bg: #4a90e2;  
$header-footer-text: #ffffff; 

$swap-btn-bg: #ffffff;        
$swap-btn-text: #4a90e2;      

$convert-btn-bg: #4a90e2;     
$convert-btn-text: #ffffff;   
