@use "../abstract/animations";
main {
    flex: 1;
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
    padding: 0 15px;

    label {
        display: block;
        margin-bottom: 5px;
    }

    form {

        input,
        select {
            width: 100%;
            height: 40px;
        }

        .flex-container {
            display: flex;
            gap: 30px;
            width: 100%;
            margin: 50px 0;
            position: relative;

            div {
                width: 100%;
                align-self: end;

                button {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }
            }

            .same-currency-error {
                position: absolute;
                top: 100%;
                left: 0;
                margin-top: 8px;
                font-size: 0.95rem;

            }
        }

        #swap-btn {
            font-size: 2.1rem;
        }
    }

    .exchange-rate-error {
        font-size: 0.95rem;
    }

    .linechart-container {
        margin: 40px 0;
        padding: 20px 0;
        position: relative;

        .visibility-hidden {
            position: absolute;
            top:0;
            left:0;
            font-size: 0.5rem;
            visibility:hidden;
        }
    }

    .spinner {
        position: absolute;
        top:67%;
        left:45%;
        width:50px;
        height:50px;
        border:5px solid lightgray;
        border-top-color:darkorange;
        border-radius: 50%;
        animation: spinner 1s linear infinite;

    }
}